* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mariaanna {
    background-color: #f8f2f2;
}

.site-wrap {
    width: 1280px;
    background-color: #fff;
    padding: 25px;
    margin: 0 auto;
}

.container {
    width: 770px;
    margin: 0 auto;
}

.heading {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.paragraph {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #999;
    line-height: 1.9;
}

//font-family: 'Dancing Script', cursive;
//font-family: 'Playfair Display', serif;
//font-family: 'Raleway', sans-serif;
